.homeWhyContainer {
  /* border: solid red; */
  width: 100%;
  /* height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
}
/* .homeWhyWrapper1 {
  border: solid blue;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.homeWhyWrapper1 > img {
  border: solid blue;
  width: 80%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}
.homeWhyWrapper1 > img:nth-child(2) {
  position: absolute;
  width: 300px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0 0 10px grey;
  bottom: -30px;
  right: -30px;
} */
.homeWhyWrapper2 {
  /* border: solid green; */
  width: 100%;
  padding: 10px;
}
.homeWhyContents {
  /* border: solid yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.homeWhyContents-container {
  /* border: solid; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
/* -------------homeWhyCard----------------- */
.homeWhyCard {
  /* border: solid red; */
  border-bottom: solid 5px var(--customColor1);
  border-radius: 20px;
  padding: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 10px grey;
}
.homeWhyCard > p {
  text-align: justify;
}
.homeWhyCardImg {
  padding: 15px;
  width: 80px;
  height: 80px;
  color: white;
  background-color: var(--customColor2);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWhyCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeWhyCard:hover .homeWhyCardImg > img {
  animation: move 1s infinite linear;
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
/* --------------homeWhyHead------------------- */
.homeWhyHead > h2 {
  font-size: 50px;
  text-align: center;
  color: var(--customColor1);
}
.homeWhyHead > p {
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeWhyContainer {
    /* border: solid red; */
    padding: 10px;
    flex-direction: column;
  }
  .homeWhyWrapper1 {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
  }
  .homeWhyWrapper1 > img {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
  }
  .homeWhyWrapper1 > img:nth-child(2) {
    width: 100px;
    bottom: -30px;
    right: 0px;
  }
  .homeWhyWrapper2 {
    /* border: solid green; */
    width: 100%;
    padding: 10px;
  }
  .homeWhyHead {
    margin-top: 20px;
  }
  .homeWhyHead > h2 {
    font-size: 30px;
    text-align: center;
  }
  .homeWhyHead > p {
    text-align: justify;
  }
  .homeWhyCard {
    /* border: solid red; */
    padding: 10px;
    width: 290px;
  }
}
