.healthPackage {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.healthPackageHeader {
  /* border: solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.healthPackageHeader > img {

  object-fit: cover;
}
.healthWellness {
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.healthWellnessHead {
  display: flex;
  justify-content: center;
  align-items: center;
}
.healthWellnessHead > h2 {
  text-align: center;
  font-size: 40px;
  width: 80%;
  font-weight: bolder;
}
.healthWellnessMain {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.healthWellnessMain-Content1 {
  /* border: solid blue; */
  width: 480px;
  height: 480px;
  border-radius: 20px;
  box-shadow: 0 0 10px ;
}
.healthWellnessMain-Content1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
    border-radius: 20px;

}
.healthWellnessMain-Content2 {
  /* border: solid; */
  width: 50%;
  padding: 20px;
}
.healthWellnessMainList > ul{
  margin: 0;padding: 0;
}
.healthWellnessMainList > ul > li {
  list-style: none;
  margin: 20px;
}
.healthWellnessMainList-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.healthWellnessMainList-btn > a > button {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: var(--customColor1);
  transition: 300ms ease-in-out;
  font-weight: bold;
  &:hover {
    background-color: white;
    color: var(--customColor1);
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .healthPackageHeader > img {
    width: 100%;
  }
  .healthWellnessMain {
    /* border: solid red; */
    flex-direction: column;
  }
  .healthWellness {
    /* border: solid blue; */
    padding: 10px;
  }
  .healthWellnessHead > h2 {
    width: 100%;
    font-size: 30px;
  }
  .healthWellnessMain-Content1 {
    /* border: solid blue; */
    width: 100%;
  }
  .healthWellnessMain-Content1 > img {
    width: 100%;
  }
  .healthWellnessMain-Content2 {
    /* border: solid; */
    width: 100%;
    padding: 20px;
  }
  .healthWellnessMainList > ul > li {
    width: 100%;
  }

}
