.aboutUsHeader {
  width: 100%;
  height: 300px;
  position: relative;
}
.aboutUsHeader > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1; */
  /* position: fixed; */
}
.aboutUsHeaderCover {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.358);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.aboutUsHeaderCover > h1 {
  font-size: 50px;
  color: white;
}
.aboutUsImg {
  /* border: solid red; */
  width: 100%;
  height: 100%;
}
.aboutUsImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .aboutUsHeader > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }
}
@media screen and (min-width: 800px) and (max-width: 990px) {
  .aboutUsHeader {
    width: 100%;
    height: 300px;
    position: relative;
  }
  .aboutUsHeader > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
  }
}
