.loader-wrapper {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  width: 100%;height: 100%;
  overflow: hidden;
}

.loader {
  width: 45px;
  height: 45px;
  border: 4px solid #eee;
  border-top-color: var(--customColor1); 
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
