.homeDoctors {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* background-color: var(--customColor3); */
  padding: 20px;
}
.homeDoctorsHead > h2 {
  font-size: 50px;
  text-align: center;
  color: var(--customColor1);
}
.homeDoctorsMain {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
/* -----------------homeDoctorsCard------------------------ */
/* From Uiverse.io by andrew-demchenk0 */
.card {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  overflow: hidden;
  box-shadow: 0 0 10px grey;
}

.card__img {
  height: 192px;
  width: 100%;
}
.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__img svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 90px);
  overflow: hidden;
}

.card__avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
}
.card__content {
  /* border: solid red; */
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
}
.card__title {
  margin-top: 0px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}

/* --------------------------------------------------------------------------------------- */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeDoctorsCard {
    /* border: solid blue; */
    min-width: 300px;
    padding: 0px;
  }
  .homeDoctorsHead > h2 {
    font-size: 30px;
  }
  .homeDoctorsCard-content2 {
    /* border: solid green; */
    transform: translateX(35px);
  }
}
