.homeHeaderContainer {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.homeHeaderContainer > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeHeaderContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .homeHeaderContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: imgZoom 40s infinite;
}
@keyframes imgZoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} */
.homeHeaderWrapper1 {
  /* border: solid blue; */
  background-color: rgba(255, 255, 255, 0.503);
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.homeHeaderWrapper2 > img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.homeHeaderContent1 {
  /* border: solid; */
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.homeHeaderContent1 > img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
.homeHeaderContent1 > h1 {
  font-size: 65px;
  color: var(--customColor1);
  letter-spacing: 1px;
  font-family: "Cinzel", serif;
}
.homeHeaderContent1 > h1 > span {
  font-size: 65px;
  color: var(--customColor2);
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
}
.homeHeaderContent1 > p {
  font-size: 20px;
  text-align: center;
}
.homeHeaderContent1 > p > a {
  text-decoration: none;
  color: var(--customColor2);
  font-size: 15px;
  font-weight: 600;
}
.homeHeaderContentBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.homeHeaderContentBtn > a {
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeHeaderContainer {
    /* border: solid red; */
    height: 100%;
    flex-direction: column;
  }
  .homeHeaderWrapper1 {
    /* border: solid blue; */
    align-items: center;
    width: 100%;
    position: static;
  }
  .homeHeaderWrapper2 {
    /* border: solid green; */
    position: relative;
    width: 100%;
    align-items: center;
  }
  .homeHeaderContent1 {
    /* border: solid; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }
  .homeHeaderContent1 > h1 {
    font-size: 40px;
    text-align: center;
  }
    .homeHeaderContent1 > h1>span {
    font-size: 40px;
    text-align: center;
  }
  .homeHeaderContent1 > p {
    font-size: 20px;
    text-align: justify;
  }
  .homeHeaderContentBtn {
    flex-direction: column;
  }
}

/* From Uiverse.io by KhelVers */
/* .button1 {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: var(--customColor1);
  background-color: #f8f8fd;
  padding: 0.8em 2.2em;
  border-radius: 50em;
  border: 6px solid #f8c38b;
  box-shadow: 0px 8px var(--customColor1);
}
.button1:hover {
  position: relative;
  top: 8px;
  border: 6px solid var(--customColor1);
  box-shadow: 0px 0px;
}
.button2 {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: var(--customColor2);
  background-color: #f8f8fd;
  padding: 0.8em 2.2em;
  border-radius: 50em;
  border: 6px solid #037e7e81;
  box-shadow: 0px 8px var(--customColor2);
}
.button2:hover {
  position: relative;
  top: 8px;
  border: 6px solid var(--customColor2);
  box-shadow: 0px 0px;
} */
/* From Uiverse.io by mrhyddenn */
.button1 {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: var(--customColor1);
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

/* .button1:hover {
  animation: sh0 0.5s ease-in-out both;
} */

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.button1:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.button1::before,
.button1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.button1:hover::before,
.button1:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.button1:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.button1:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.button2 {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: var(--customColor2);
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

/* .button:hover {
  animation: sh0 0.5s ease-in-out both;
} */

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.button2:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

.button2::before,
.button2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.button2:hover::before,
.button2:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1),
    opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.button2:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

.button2:hover::after {
  transform: translate(50%, 0) scale(1.1);
}
