.homeService {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: var(--customColor3);
  padding: 20px;
  /* border: solid; */
}
.homeServicesHead {
  width: 90%;
  text-align: center;
}
.homeServicesHead > h2 {
  font-size: 50px;
  color: var(--customColor2);
}

.homeServicesMain {
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
/* -----------------------HomeServicesCard------------- */
.homeServicesCard {
  /* border:  solid black; */
  width: 350px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  /* box-shadow: 0 0px 0px 0px black; */
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
  background-color: white;
  /* &:hover {
    box-shadow: 0 10px 0px 0px var(--customColor1);
    border: solid 1px var(--customColor1);
  } */
}
.homeServicesCardImg {
  /* border: solid green; */
  width: 360px;
  height: 300px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.538);
}
.homeServicesCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;
}
.homeServicesCard:hover .homeServicesCardImg > img {
  transform: scale(1.1);
}
.homeServicesCardTxt {
  padding: 10px;
}
.homeServicesCardTxt > h4 {
  color: var(--customColor1);
}
.homeServicesCardTxt > p {
  text-align: justify;
}
.homeServicesCardTxt > a {
  color: var(--customColor2);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.homeServicesCardTxt > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
  text-align: end;
}

.homeServiceContent > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
}
.homeServiceContent > h5 > a:hover {
  color: var(--customColor2);
  text-decoration: underline;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeServicesHead > h2 {
    font-size: 30px;
  }
  .homeServicesHead > p {
    text-align: justify;
  }
  .homeServicesMain {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
  }
  .homeServicesCard {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transition: 300ms ease-in-out;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
      0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
    background-color: white;
  }
  .homeServicesCardImg {
    /* border: solid green; */
    width: 100%;
    height: 100%;
  }
}
