
.serviceBrochure-container {
  /* border: solid red; */
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px grey;
  background-color: white;
}
.serviceBrochure-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serviceBrochure-content:nth-child(1) {
  /* border: solid green; */
  width: 100%;
  height: 200px;
}
.serviceBrochure-content:nth-child(2) {
  /* border: solid green; */
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceBrochure-content > a {
  text-decoration: none;
  color: var(--customColor1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.serviceBrochure-item {
  /* border: solid; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.serviceBrochure-item > p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.serviceBrochure-icon {
  color: var(--customColor1);
  font-size: 40px;
}
