.service-header {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #f5821eae;
}
.service-header > img {
  width: 55%;
  height: 400px;
  object-fit: cover;
  object-position: 10px;
}

.service-headerCover {
  /* border: solid blue; */
  height: 400px;
  transform: skewX(25deg);
  width: 55%;
  position: absolute;
  top: 0;
  left: -0px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  gap: 30px;
}
.service-headerCover > h2 {
  /* border: solid; */
  width: 90%;
  transform: skewX(-25deg);
  font-size: 45px;
  text-align: center;
  margin-left: 100px;
  padding: 10px;
  color: var(--customColor1);
}

.service-headerCover > p {
  transform: skewX(-25deg);
  font-size: 16px;
  background-color: var(--customColor2);
  color: white;
  padding: 10px;
  width: 90%;
  text-align: center;
  border-radius: 20px;
}
.service-headerCover > a > button {
  border: 1px solid white;
  transform: skewX(-25deg);
  padding: 10px;
  border-radius: 20px;
  background-color: var(--customColor1);
  color: white;
  font-weight: 600;
  transition: 300ms ease-in-out;
  width: 200px;
  font-size: 20px;
  &:hover {
    border: 1px solid var(--customColor1);
    background-color: white;
    color: var(--customColor1);
  }
}
.service-HeaderContentBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transform: skewX(-25deg);
}
.service-HeaderContentBtn > a {
  text-decoration: none;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .service-header {
    /* border: solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    gap: 10px;
    overflow: visible;
    background-color: white;
    margin-bottom: 30px;
  }
  .service-header > img {
    width: 100%;
    height: 100%;
    object-position: 0px;
  }
  .service-headerCover {
    /* border: solid blue; */
    height: 100%;
    transform: skewX(0deg);
    width: 100%;
    position: static;
  }
  .service-headerCover > h2 {
    transform: skewX(0deg);
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
  }
  #service-headerCover2 > h2 {
    /* border: solid; */
    transform: skewX(0deg);
    font-size: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .service-headerCover > p {
    transform: skewX(0deg);
    font-size: 20px;
    background-color: var(--customColor2);
    color: white;
    padding: 10px;
    width: 90%;
  }
  .service-headerCover > a > button {
    border: 1px solid white;
    transform: skewX(0deg);
  }
  .service-HeaderContentBtn {
    flex-direction: column;
    transform: skewX(0deg);
    width: 300px;
  }
}
