.pathologyBook {
  /* border: solid red; */
  border-bottom-right-radius: 20px;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}
.pathologyBookWrapper {
  /* border: solid blue; */
  width: 60%;
  height: 100%;
}
.pathologyBookWrapper:nth-child(2) {
  background-color: var(--customColor1);
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.pathologyMap > iframe {
  width: 100%;
  height: 480px;
  border: none;
}
.pathologyBookContent {
  /* border: solid green; */
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pathologyBookIoc {
  color: white;
  font-size: 30px;
}
.pathologyBookContent > h6 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
  color: white;
}
.pathologyBookContent > h6 > a {
  color: white;
  text-decoration: none;
}
.pathologyBookContent:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: centerF;
}
.pathologyBookContent > button {
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  border: solid 1px var(--customColor1);
  color: var(--customColor1);
  background-color: white;
  &:hover {
    border: solid 1px white;
    color: white;
    background-color: var(--customColor1);
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .pathologyBook {
    /* border: solid red; */
    padding: 10px;
    flex-direction: column;
    width: 100%;
  }
  .pathologyBookWrapper {
    /* border: solid blue; */
    width: 100%;
  }
  .pathologyBookWrapper:nth-child(2) {
    width: 100%;
  }
}
