.homeTestimonial {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: var(--customColor3);
}
/* -----------------homeTestimonialHead--------------- */
.homeTestimonialHead {
  width: 100%;
}
.homeTestimonialHead > h2 {
  font-size: 50px;
  text-align: center;
}
/* -----------------homeTestimonialCarousel------------------- */

.carousel {
  /* border: solid brown; */
  height: 300px;
  width: 70%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}

.carousel-item {
  /* border: solid blue; */
  padding: 10px;
  width: 100%;
  height: 300px;
  position: relative;
}
.carousel-item > div > img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 200px;
  top: 30px;
}
.carousel-item > div {
  /* border: solid blue; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carouselTxt {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-left: 200px;
}

.carouselTxt > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.testIcon {
  /* border: solid red; */
  border-radius: 100%;
  padding: 10px;
  width: 30px;
  height: 30px;
  box-shadow: inset 0 0 5px black;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .carousel {
    /* border: solid brown; */
    height: 300px;
    width: 100%;
  }
  .carouselTxt {
    width: 100%;
    margin-left: 0;
  }
  .carousel-item > div > img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.2;
  }
  .carouselTxt > h3 {
    text-align: justify;
  }
  .homeTestimonialHead > h2 {
  font-size: 30px;
  text-align: center;
}
}
