.homeWidgetContainer {
  border: solid red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.homeWidgetWrapper {
  border: solid green;
  width: 90%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--customColor3);
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}
.homeWidgetContent {
  border: solid blue;
  width: 50%;
  height: 100%;
}
.homeWidgetContent > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homeWidgetContent2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
