.reviews {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 20px;
  position: static;
  z-index: 1;
  background-color: white;
}
.reviews > iframe {
  /* border: solid ; */
  width: 100%;
  height: 400px;
}
.reviewsHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.reviewsHead > h2 {
  font-size: 50px;
  width: 80%;
  text-align: center;
  color: var(--customColor1);
}
.reviewsHead > p {
  font-size: 18px;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .reviewsHead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .reviewsHead > p {
    font-size: 20px;
    width: 100%;
    text-align: justify;
  }
  .reviewsHead > h2 {
  font-size: 30px;
    width: 100%;

}
}
