.serviceNav-container {
  /* border: solid red; */
  width: 100%;
  padding: 20px;
}
.serviceNav-content {
  /* border: solid blue; */
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 15px rgb(216, 216, 216);
}
.serviceNav-content > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.serviceNav-content > ul > li {
  list-style: none;
  font-size: 25px;
  height: 100%;
  padding: 10px;
  font-weight: 500;
}
.serviceNav-content > ul > li:nth-child(1) {
  color: var(--customColor2);
}
.serviceNav-content > ul > li > a {
  list-style: none;
  font-size: 18px;
  height: 100%;
  padding: 10px;
  font-weight: 500;
  text-decoration: none;
  color: var(--customColor1);
  border-radius: 10px;
  &:hover {
    background-color: var(--customColor3);
  }
}
@media screen and (max-width: 768px) {
  .serviceNav-content > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
}
