.service-bookContainer {
  /* border: solid red; */
  border-bottom-right-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.service-book {
  /* border: solid red; */
  border-bottom-right-radius: 20px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.service-bookWrapper {
  /* border: solid blue; */
  width: 60%;
  height: 100%;
}
.service-bookWrapper:nth-child(2) {
  background-color: var(--customColor2);
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.serviceMap > iframe {
  width: 100%;
  height: 500px;
  border: none;
}
.service-bookContent {
  /* border: solid green; */
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-bookIoc {
  color: white;
  font-size: 35px;
}
.service-bookContent > h6 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;
  color: white;
}
.service-bookContent > h6 > a {
  color: white;
  text-decoration: none;
  text-align: justify;
}
.service-bookContent:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .service-bookContainer {
    /* border: solid red; */
    padding: 0px;
  }
  .service-book {
    /* border: solid red; */
    padding: 10px;
    flex-direction: column;
    width: 100%;
  }
  .service-bookWrapper {
    /* border: solid blue; */
    width: 100%;
  }
  .service-bookWrapper:nth-child(2) {
    width: 100%;
  }
}
