.service-headContent {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.service-headContent > h1 {
  color: var(--customColor2);
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}
.service-headContent > p {
  text-align: justify;
  width: 80%;
  font-size: 18px;
  color: grey;
}
.service-headContent > p > a {
  color: var(--customColor2);
  text-decoration: none;
}
.service-headContent > h3 {
  color: var(--customColor1);
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.service-headContent > p > span {
  color: var(--customColor2);
  font-weight: bold;
}
.service-headContent > p > a {
  color: var(--customColor2);
  text-decoration: none;
}
.service-headContent > h4 {
  color: var(--customColor1);
  text-align: start;
  font-size: 25px;
  text-align: start;
  font-weight: bolder;
  width: 80%;
}
.service-headContent > p > ul > h6 {
  color: var(--customColor2);
  text-align: start;
  font-size: 20px;
  text-align: start;
  width: 80%;
}
.service-headContent > p > ul > li {
  margin: 10px;
}
.service-headContent > p > ul > p > a {
  color: var(--customColor1);
  text-decoration: none;
}
.service-headContent > p > ul > li > span {
  color: var(--customColor2);
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .service-headContent {
    /* border: solid red; */
    padding: 10px;
  }
  .service-headContent > h1 {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
  }
  .service-headContent > p {
    width: 100%;
  }
  .service-headContent > h3 {
    width: 100%;
  }
  .service-headContent > h4 {
    width: 100%;
  }
  .service-headContent > p > ul > h6 {
    width: 100%;
  }
}


.serviceComponent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: var(--customColor3);
  padding: 20px;
  margin-top: 30px;
  /* border: solid; */
}
.serviceComponentHead {
  width: 90%;
  text-align: center;
}
.serviceComponentHead > h2 {
  font-size: 50px;
  color: var(--customColor2);
}

.serviceComponentMain {
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
/* -----------------------serviceComponentCard------------- */
.serviceComponentCard {
  /* border:  solid black; */
  width: 350px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  /* box-shadow: 0 0px 0px 0px black; */
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
  background-color: white;
  /* &:hover {
    box-shadow: 0 10px 0px 0px var(--customColor1);
    border: solid 1px var(--customColor1);
  } */
}
.serviceComponentCardImg {
  /* border: solid green; */
  width: 360px;
  height: 300px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.538);
}
.serviceComponentCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;
}
.serviceComponentCard:hover .serviceComponentCardImg > img {
  transform: scale(1.1);
}
.serviceComponentCardTxt {
  padding: 10px;
}
.serviceComponentCardTxt > h4 {
  color: var(--customColor1);
}
.serviceComponentCardTxt > p {
  text-align: justify;
}
.serviceComponentCardTxt > a {
  color: var(--customColor2);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.serviceComponentCardTxt > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
  text-align: end;
}

.homeServiceContent > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
}
.homeServiceContent > h5 > a:hover {
  color: var(--customColor2);
  text-decoration: underline;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .serviceComponentHead > h2 {
    font-size: 30px;
  }
  .serviceComponentHead > p {
    text-align: justify;
  }
  .serviceComponentMain {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
  }
  .serviceComponentCard {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transition: 300ms ease-in-out;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
      0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
    background-color: white;
  }
  .serviceComponentCardImg {
    /* border: solid green; */
    width: 100%;
    height: 100%;
  }
}
