.service-headContent {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.service-headContent > h1 {
  color: var(--customColor2);
  font-size: 40px;
  text-align: center;
  font-weight: bolder;
}
.service-headContent > p {
  text-align: justify;
  width: 80%;
  font-size: 18px;
  color: grey;
}
.service-headContent > p > a {
  color: var(--customColor2);
  text-decoration: none;
}
.service-headContent > h3 {
  color: var(--customColor1);
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.service-headContent > p > span {
  color: var(--customColor2);
  font-weight: bold;
}
.service-headContent > p > a {
  color: var(--customColor2);
  text-decoration: none;
}
.service-headContent > h4 {
  color: var(--customColor1);
  text-align: start;
  font-size: 25px;
  text-align: start;
  font-weight: bolder;
  width: 80%;
}
.service-headContent > p > ul > h6 {
  color: var(--customColor2);
  text-align: start;
  font-size: 20px;
  text-align: start;
  width: 80%;
}
.service-headContent > p > ul > li {
  margin: 10px;
}
.service-headContent > p > ul > p > a {
  color: var(--customColor1);
  text-decoration: none;
}
.service-headContent > p > ul > li > span {
  color: var(--customColor2);
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .service-headContent {
    /* border: solid red; */
    padding: 10px;
  }
  .service-headContent > h1 {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
  }
  .service-headContent > p {
    width: 100%;
  }
  .service-headContent > h3 {
    width: 100%;
  }
  .service-headContent > h4 {
    width: 100%;
  }
  .service-headContent > p > ul > h6 {
    width: 100%;
  }
}
