.service-headContent {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.service-headContent > h1 {
  color: var(--customColor2);
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}
.service-headContent > p {
  text-align: justify;
  width: 80%;
  font-size: 18px;
  color: grey;
}
.service-headContent > p > a {
  color: var(--customColor2);
  text-decoration: none;
}
.service-headContent > h3 {
  color: var(--customColor1);
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.service-headContent > p > span {
  color: var(--customColor2);
  font-weight: bold;
}
.service-headContent > p > a {
  color: var(--customColor2);
  text-decoration: none;
}
.service-headContent > h4 {
  color: var(--customColor1);
  text-align: start;
  font-size: 25px;
  text-align: start;
  font-weight: bolder;
  width: 80%;
}
.service-headContent > p > ul > h6 {
  color: var(--customColor2);
  text-align: start;
  font-size: 20px;
  text-align: start;
  width: 80%;
}
.service-headContent > p > ul > li {
  margin: 10px;
}
.service-headContent > p > ul > p > a {
  color: var(--customColor1);
  text-decoration: none;
}
.service-headContent > p > ul > li > span {
  color: var(--customColor2);
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .service-headContent {
    /* border: solid red; */
    padding: 10px;
  }
  .service-headContent > h1 {
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
  }
  .service-headContent > p {
    width: 100%;
  }
  .service-headContent > h3 {
    width: 100%;
  }
  .service-headContent > h4 {
    width: 100%;
  }
  .service-headContent > p > ul > h6 {
    width: 100%;
  }
}

.serviceComponent {
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  gap: 30px;
  background-color: var(--customColor3);
  padding: 20px;
  margin-top: 30px;
  /* border: solid; */
}
.serviceComponentHead {
  width: 100%;
  text-align: center;
}
.serviceComponentHead > h2 {
  font-size: 50px;
  color: var(--customColor2);
}

.serviceComponentMain {
  /* border: solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}
/* -----------------------serviceComponentCard------------- */
.serviceComponentCard {
  /* border:  solid black; */
  width: 350px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  transition: 300ms ease-in-out;
  /* box-shadow: 0 0px 0px 0px black; */
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
    0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
  background-color: white;
  /* &:hover {
    box-shadow: 0 10px 0px 0px var(--customColor1);
    border: solid 1px var(--customColor1);
  } */
}
.serviceComponentCardImg {
  /* border: solid green; */
  width: 360px;
  height: 300px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.538);
}
.serviceComponentCardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;
}
.serviceComponentCard:hover .serviceComponentCardImg > img {
  transform: scale(1.1);
}
.serviceComponentCardTxt {
  padding: 10px;
}
.serviceComponentCardTxt > h4 {
  color: var(--customColor1);
}
.serviceComponentCardTxt > p {
  text-align: justify;
}
.serviceComponentCardTxt > a {
  color: var(--customColor2);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.serviceComponentCardTxt > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
  text-align: end;
}

.homeServiceContent > h5 > a {
  color: var(--customColor1);
  text-decoration: none;
}
.homeServiceContent > h5 > a:hover {
  color: var(--customColor2);
  text-decoration: underline;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .serviceComponentHead > h2 {
    font-size: 30px;
  }
  .serviceComponentHead > p {
    text-align: justify;
  }
  .serviceComponentMain {
    /* border: solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
  }
  .serviceComponentCard {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transition: 300ms ease-in-out;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1),
      0px 10px 20px rgba(0, 0, 0, 0.15); /* Layered shadow */
    background-color: white;
  }
  .serviceComponentCardImg {
    /* border: solid green; */
    width: 100%;
    height: 100%;
  }
}
.homeService-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.homeServiceMain-container {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  padding: 10px;
}
.mySwiper {
  /* border: solid blue; */
  width: 100%;
  height: 600px;
  padding: 20px;
}
.swiper-3d {
  padding: 30px !important;
}
.homeServiceMain-content {
  /* border: solid var(--customColor1); */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0 0 10px grey;
}
.homeServiceMain-content > img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.homeServiceMain-content > p {
  font-size: 15px;
}
.homeServiceMain-content > a {
  color: var(--customColor2);
  text-decoration: none;
  font-weight: 600;
}
.homeServiceMain-cardContainer {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(163, 163, 163);
  overflow: hidden;
}
.homeServiceMain-cardContainer > a {
  /* border: solid; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
.homeServiceMain-cardCover {
  /* border: solid red; */
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-100%);
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: #2a2a2aac;
  opacity: 0;
  z-index: 1;
}
.homeServiceMain-cardContainer:hover .homeServiceMain-cardCover {
  transform: translateY(0%);
  opacity: 1;
}
.homeServiceMain-cardImg {
  /* border: solid blue; */
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeServiceMain-cardImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 400ms ease-in-out;
}
.homeServiceMain-cardHead {
  /* border: solid brown; */
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(8, 0, 227);
  bottom: 50px;
  left: 0;
  position: absolute;
  background-color: var(--customColor1);
  transition: 400ms ease-in-out;
  overflow: hidden;
}
.homeServiceMain-cardHead > h4 {
  /* border: solid red; */
  font-size: 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #0236b8;
}
.homeServiceMain-cardHead > h3 {
  position: absolute;
  z-index: 1;
  color: white;
  font-size: 20px;
}
.homeServiceMain-cardPara {
  /* border: solid yellowgreen; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
}
.homeServiceMain-cardContainer:hover .ourServicesCardHead {
  color: var(--customColor2);
}
.homeServiceMain-cardContainer:hover .homeServiceMain-cardHead > img {
  transform: scale(1.2);
}
.homeServiceMain-cardPara > p {
  font-size: 20px;
  line-height: 25px;
  text-align: justify;
  transition: 100ms ease-in-out;
}
.homeServiceMain-cardContainer:hover .homeServiceMain-cardPara > p {
  color: white;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeServiceHead-container > h2::after {
    content: "";
    position: absolute;
    display: none;
  }
  .homeServiceMain-container {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .swiper-3d {
    padding: 10px !important;
  }
  .homeServiceMain-cardContainer {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    overflow: hidden;
  }
}

/* ----------------------------------------------------------------------------------------------------- */
.mainComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.component-container {
  /* border: solid blue; */
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--customColor3);
}
.component-main {
  /* border: solid green; */
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.component-mainContent {
  /* border: solid yellow; */
  border-radius: 20px;
  background-color: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.component-sidebar {
  /* border: solid teal; */
  width: 20%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .component-container {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .component-main {
    /* border: solid green; */
    width: 100%;
    padding: 10px;
  }
  .component-sidebar {
    /* border: solid teal; */
    width: 100%;
    padding: 10px;
  }
}

/* --------------------------------------------------------------------------------------- */

.serviceHead {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.serviceHead > h6 {
  color: var(--customColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
}
.serviceHead > h6::before {
  content: "•";
  font-size: 20px;
  color: var(--customColor1);
}
.serviceHead > h6::after {
  content: "•";
  font-size: 20px;
  color: rgb(0, 174, 255);
}
.serviceHead > h2 {
  font-size: 40px;
  text-align: start;
  color: var(--customColor1);
}
.serviceHead > h2 > span {
  color: var(--customColor1);
}
.serviceHead > p {
  color: rgb(102, 102, 102);
  text-align: justify;
  width: 100%;
  font-size: 20px;
}

/* ------------------------------------------------------------------------------------ */
.serviceExcept-container > h2 {
  font-size: 40px;
  text-align: start;
  color: var(--customColor2);
}
.serviceExcept-container > p {
  color: rgb(102, 102, 102);
  text-align: justify;
  width: 100%;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .serviceExcept-container > h2 {
    font-size: 30px;
    text-align: start;
    color: var(--customColor2);
  }
}
/* ------------------------------------------------------------------------------------------------ */

.service-prepareContainer {
  border-top: 2px solid var(--customColor1);
  width: 100%;
  height: 100%;
  /* border: solid black; */
  padding: 40px 20px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  margin-top: 20px;
}
#result {
  flex-direction: row;
  justify-content: space-between;
}
.service-prepareContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.service-prepareContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.service-prepareHead > h2 {
  text-align: start;
  width: 100%;
  font-size: 40px;
  margin-bottom: 20px;
  color: var(--customColor2);
}
.service-prepareCard {
  /* border: solid red; */
  width: 46%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#billing-card {
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
}
.service-prepareCardContent > h3 {
  font-size: 30px;
}
.service-prepareCardContent > h4 {
  color: var(--customColor1);
}
.service-prepareCardContent > p {
  text-align: justify;
}
.service-prepareCardIcon {
  font-size: 40px;
  color: var(--customColor1);
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .serviceHead > h2 {
    font-size: 30px;
  }
  .service-prepareContainer {
    /* border: solid black; */
    padding: 20px 10px;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    margin-top: 20px;
  }
  .service-prepareContent {
    flex-direction: column;
  }
  .service-prepareCard {
    /* border: solid red; */
    width: 100%;
    align-items: flex-start;
    margin-top: 20px;
  }
  #billing-card {
    width: 100%;
  }
  .service-prepareHead > h2 {
  font-size: 30px;

}
}
