.bookPopUp {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 50;
}

/* Add this class to show popup */
.showPopup {
  visibility: visible;
  opacity: 1;
}
.exitForm {
  width: 20px;
  height: 20px;
  position: fixed;
}
.popupContainer {
  background: white;
  width: 900px; /* Wider popup */
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: popupZoom 0.4s ease;
  height: fit-content; /* Prevents overflow */
  overflow: scroll;
  position: relative;
}
.formRow {
  display: flex;
  gap: 25px;
  width: 100%;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: 10px;
}
@keyframes popupZoom {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.closeBtn {
  width: 25px;
  height: 25px;
  padding: 5px;
  background: var(--customColor1);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  align-self: flex-end;
}

.popupContainer h3 {
  text-align: center;
  font-size: 26px;
  color: var(--customColor1);
  font-weight: bold;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup label {
  font-size: 16px;
  font-weight: 600;
}

.doubleInput {
  display: flex;
  gap: 15px;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s;
}

textarea {
  height: 80px;
  resize: none;
}

input:focus,
textarea:focus {
  border-color: var(--customColor1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.bookBtn {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: var(--customColor1);
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  margin-top: 20px;
}

.bookBtn:hover {
  background: white;
  color: var(--customColor1);
  border: 1px solid var(--customColor1);
}

@media (max-width: 768px) {
  .doubleInput {
    flex-direction: column;
  }
  .popupContainer {
    width: 95%;
    padding: 25px;
  }
  .formRow {
    flex-direction: column; /* Stack only on mobile */
  }
}
